@use "../../global-styles/colors.scss";

.basket-notification__save-badge {
  color: colors.$white;
  background-color: colors.$black;
  padding: 4px;
  font-size: 14px;
  font-weight: 700;
  width: max-content;
  line-height: 14px;
}